*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
/*  first section */

section{

    height: 100vh;
}

.navbar{
    display: flex;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 80px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}


.navbar ul li a {
   text-decoration: none;
   color: rgb(0, 0, 0);
   text-transform: uppercase;


}

.banner{
    display: flex;
    padding: 50px;
   
}


 .landing-half{
  width: 50%;
  height: 100%;
 }

 .landing-half img{
    
    width: 80%;
 }

 .head{
    margin-top: 10%;
 }

 .head h1{
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 70px;
 }

 .head span{
    color: orange;
 }
 
 .button-order{
    margin-top:90px ;
    text-transform: uppercase;
    border: none;
    text-align: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;;
    background-image: linear-gradient(to right, red , orange);
    border-radius: 30px;
    padding: 20px;
}

.head p{
    margin-top: 30px;
    color: rgb(99, 98, 98);
    font-size: 18px;
    font-display: justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

 .about-me{
    background-image: url('./images/shapes/7.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;           

    overflow: hidden;
    object-fit: contain;
    height: 70vh;
 
}
.about-me-head{
    margin-right: 20px;
    padding: 20px;
   
    width: 80%;
}
.about-me-head h1 {
    margin-top: 30px;
    font-size: 30px;
    color: rgb(104, 104, 104);
    margin-bottom: 30px;
}
.about-me-head p {
   line-height: 30px;
   color: rgb(99, 98, 98);
   font-size: 18px;
   font-display: justify;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.btn-about{
    margin-left: 5px;
}
.image-person{
    height: 100%;
    width: 100%;
   object-fit: contain;
   margin-top: 50px;
   margin-left: 40px;
}
